
* {
padding: 0;
margin: 0;
font-family:sans-serif;
}
body
{
background-color: #26416b;
}
ul {
list-style: none;
background: #232F3E;
text-align: center;
}
ul li {
display: inline-block;
position: relative;
}
ul li a {
display: block;
padding: 20px 25px;
color: #FFF;
text-decoration: none;
text-align: center;
font-size: 16px;
}
ul li ul.dropdown li {
display: block;
background: #232F3E;
margin: 2px 0px;
}
ul li ul.dropdown {
width:auto;
background: #26416b;
position: absolute;
z-index: 999;
display: none;
}
ul li a:hover {
background: #222;
}
ul li:hover ul.dropdown{
display: block;
}

.buscar {
    position: relative;
    padding: 10px;
  }
  
  .buscar input {
    width: 0;
    height: 40px;
    padding: 0 20px;
    font-size: 18px;
    color: #222;
    outline: none;
    border: 1px solid silver;
    border-radius: 30px;
    transition: all 0.6s ease;
  }
  
  .btn {
    width: 55px;
    height: 55px;
    line-height: 55px;
    top: 0;
    right: 0;
    position: absolute;
    background: #33789C;
    text-align: center;
    color: white;
    font-size: 18px;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .buscar:hover input {
    width: 240px;
  }
  
  .buscar input:focus {
    width: 240px;
  }
