.bodycolor{

    background-color: #26416b;
}

.container-perfil{
   background-color:  #9cd2d3;
   border-radius: 12px;
   margin-top: 1rem;
   display: flex;
   flex-direction: column;
   padding-top: 1rem;
}

.button-Mensaje:hover {
    background-color: rgba(50, 50, 50, 0.5);
}

.button-Mensaje{
    margin-top: 1rem;
    border-radius: 12px;
    background-color: rgb(0, 0, 0);
    color: white;
    border: 0rem;
    text-decoration: none;
    height: 1.5rem;
    font-weight: bold;
    width: 15rem;
}


@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans';
}
.contenido{
   
    max-width: 1200px;
    width: 100%;
    margin: 40px auto;
    display: flex;

}
.mostrador{
    width: 100%;
    transition: .5s ease;
}
.mostrador .fila{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.mostrador .fila .item{
    max-width: 210px;
    padding: 30px;
    height: 250px;
    /*border: 2px solid red;*/
    text-align: center;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: .3s;
}
.mostrador .fila .item:hover{
    background-color: #87aaee;
}
.mostrador .fila .item img{
    width: 100%;
    margin: 30px 0;
}
.mostrador .fila .item .descripcion{
    color: #000000;
    font-weight: bold;
}
.mostrador .fila .item .precio{
    color: #000000;
    font-weight: bold;
    font-size: 20px;
}
.item{
  background-color: #ececec;

}
.seleccion{
    background-color: #ececec;
    transition: .5s ease;
    opacity: 0;
    width: 0%;
    border: 1px solid #ccc;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}
.cerrar{
    position: absolute;
    right: 0;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.info{
    padding: 20px;
}
.info img{
    display: block;
    margin: 30px auto;
    width: 80%;
}
.info h2{
    color: #707070;
    margin-bottom: 10px;
}
.info p{
    font-size: 14px;
    color: #000000;
    margin-bottom: 10px;
}
.info .precio{
    font-size: 30px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 10px;
    display: block;
}
.info .fila{
    display: flex;
    align-items: flex-end;
}
.info .fila label{
    display: block;
    margin-bottom: 10px;
}
.info .fila select{
    width: 100px;
    font-size: 18px;
    padding: 6px;
    margin-right: 30px;
}
.info .fila button{
    height: 40px;
    border: none;
    padding: 0 10px;
    color: #fff;
    background-color: #f85151;
}


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Georgia, serif; /* Cambio de fuente a Georgia (serif) */
}

body {
	background: #26416b; /* Color principal de fondo */
}

a {
	text-decoration: none;
	color: #30435f; /* Color de enlaces */
}

.contenedor {
	margin: auto;
	width: 90%;
	max-width: 1200px;
}

main article {
	background: #fff;
	margin: 20px 0;
	padding: 20px;
	height: 1000px;
}

.chat-container {
    max-width: 400px;
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: 10px;
}

.chat {
    overflow-y: scroll;
    max-height: 300px;
    margin-bottom: 10px;
}

.message {
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.received {
    background-color: #f2f2f2;
    text-align: left;
}

.sent {
    background-color: #007bff;
    color: #fff;
    text-align: right;
}

.input-container {
    display: flex;
}

#message-input {
    flex: 1;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 5px;
}

#send-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* ------------------------- */
/* Enlaces del NAV */
/* ------------------------- */
.menu {
	background: #232F3E;
	padding: 5px 0;
	margin-bottom: 20px;
}

.menu .contenedor-botones-menu {
	/* display: flex; */
	display: none;
	justify-content: space-between;
}

.menu .contenedor-botones-menu button {
	font-size: 20px;
	color: #fff;
	padding: 10px 20px;
	border: 1px solid transparent;
	display: inline-block;
	cursor: pointer;
	background: none;
}

.menu .contenedor-botones-menu button:hover {
	border: 1px solid rgba(255,255,255, .4);
}

.menu .contenedor-botones-menu .btn-menu-cerrar {
	display: none;
}

.menu .contenedor-botones-menu .btn-menu-cerrar.activo {
	display: inline-block;
}

.menu .contenedor-enlaces-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.menu .btn-departamentos {
	color: #fff;
	padding: 7px;
	border-radius: 3px;
	display: flex;
	align-items: flex-end;
	border: 1px solid transparent;
	font-size: 12px;
	cursor: default;
}

.menu .btn-departamentos i {
	margin-left: 20px;
	position: relative;
	bottom: 3px;
}

.menu .btn-departamentos:hover {
	border: 1px solid rgba(255,255,255, .4);
}

.menu .btn-departamentos span {
	display: block;
	font-size: 14px;
	font-weight: bold;
}

.menu .contenedor-enlaces-nav .enlaces a {
	color: #ccc;
	border: 1px solid transparent;
	padding: 7px;
	border-radius: 3px;
	font-size: 14px;
}

.menu .contenedor-enlaces-nav .enlaces a:hover {
	border: 1px solid rgba(255,255,255,.4);
}

/* ------------------------- */
/* GRID */
/* ------------------------- */
.contenedor-grid {
	position: relative;
}

.grid {
	width: 100%;
	display: none;
	position: absolute;
	top: 5px;
	z-index: 1000;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 1fr;
	grid-template-areas: "categorias subcategorias subcategorias subcategorias";
}

.grid.activo {
	display: grid;
}

.grid::before {
	content: "";
	display: block;
	background: transparent;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #fff;
	position: absolute;
	top: -5px;
	left: 65px;
}

.grid > div {
	background: #fff;
	box-shadow: 0px 3px 6px rgba(0,0,0,.10);
}

/* ------------------------- */
/* Categorias */
/* ------------------------- */

.grid .btn-regresar {
	background: #232F3E;
	color: #fff;
	border: none;
	padding: 10px;
	border-radius: 3px;
	margin: 20px;
	font-size: 16px;
	cursor: pointer;
	display: none;
}

.grid .btn-regresar i {
	margin-right: 10px;
}

.grid .categorias {
	grid-area: categorias;
	padding-top: 10px;
	min-height: 300px;
	overflow: auto;
}

.grid .categorias .subtitulo {
	display: none;
}

.grid .categorias a {
	color: #000;
	font-size: 14px;
	display: flex;
	justify-content: space-between;
	padding: 10px 20px;
}

.grid .categorias a i {
	display: none;
}

.grid .categorias a:hover {
	color: #E47911;
	font-weight: bold;
}

.grid .categorias a:hover i {
	display: inline-block;
}

/* ------------------------- */
/* Subcategorias */
/* ------------------------- */

.grid .contenedor-subcategorias {
	grid-area: subcategorias;
}

.grid .subcategoria {
	display: none;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	height: 100%;
}

.grid .subcategoria.activo {
	display: grid;
}

.grid .subcategoria img {
	width: 100%;
	vertical-align: top;
	height: 100%;
	object-fit: cover;
}

.grid .enlaces-subcategoria {
	padding-top: 10px;
	height: 100%;
	max-height: 300px;
	overflow: auto;
}

.grid .enlaces-subcategoria a {
	color: #000;
	display: block;
	font-size: 14px;
	padding: 10px 20px;
}

.grid .enlaces-subcategoria a:hover {
	color: #E47911;
}

.grid .subtitulo {
	font-size: 18px;
	font-weight: normal;
	color: #E47911;
	padding: 10px 20px;
}

.grid .banner-subcategoria a {
	display: block;
	height: 100%;
}

.grid .galeria-subcategoria {
	display: flex;
	flex-wrap: wrap;
	align-content: start;
}

.grid .galeria-subcategoria a {
	width: 50%;
	height: 50%;
}

/* ------------------------- */
/* Mediaqueies */
/* ------------------------- */
@media screen and (max-width: 1000px) {
	.menu .contenedor-enlaces-nav {
		padding: 0 10px;
	}

	.menu .contenedor {
		width: 100%;
	}
}

@media screen and (max-width: 800px) {
	.menu .contenedor {
		width: 90%;
	}

	.menu .contenedor-botones-menu {
		display: flex;
	}

	.menu .contenedor-enlaces-nav {
		padding: 20px;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		position: fixed;
		left: 0;
		background: #232F3F;
		height: 100vh;
		width: 80%;
		z-index: 2000;
		transition: .3s ease all;
		transform: translate(-100%);
	}

	.menu .contenedor-enlaces-nav.activo {
		transform: translate(0%);
	}

	.menu .btn-departamentos {
		width: 100%;
		align-items: center;
		justify-content: space-between;
		cursor: pointer;
	}

	.menu .btn-departamentos i {
		position: static;
		margin-left: 20px;
		transform: rotate(-90deg);
	}

	.menu .enlaces {
		width: 100%;
	}

	.menu .enlaces a {
		display: block;
		margin: 10px 0;
		padding: 10px;
	}

	.grid {
		display: grid;
		transition: .3s ease all;
		transform: translateX(-100%);
		z-index: 3000;
		width: 80%;
		position: fixed;
		top: 0;
		left: 0;
		height: 100vh;
		grid-template-areas: "categorias categorias categorias categorias";
	}

	.grid.activo {
		transform: translateX(0%);
	}

	.grid::before {
		display: none;
	}

	.grid .btn-regresar {
		display: inline-block;
	}

	.grid .categorias .subtitulo {
		display: block;
	}

	.grid .contenedor-subcategorias {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		transition: .3s ease all;
		transform: translateX(-100%);
		overflow: auto;
	}

	.grid .contenedor-subcategorias.activo {
		transform: translateX(0%);
	}

	.grid .contenedor-subcategorias .subcategoria {
		grid-template-columns: 1fr;
	}

	.grid .contenedor-subcategorias .banner-subcategoria {
		width: 100%;
		min-height: 250px;
		max-height: 350px;
	}

	.grid .enlaces-subcategoria {
		min-height: 50vh;
		overflow: auto;
	}

	.grid .contenedor-subcategorias .galeria-subcategoria a {
		width: 25%;
		height: 100%;
	}
}

.buscar {
    position: relative;
    padding: 10px;
  }
  
  .buscar input {
    width: 0;
    height: 40px;
    padding: 0 20px;
    font-size: 18px;
    color: #222;
    outline: none;
    border: 1px solid silver;
    border-radius: 30px;
    transition: all 0.6s ease;
  }
  
  .btn {
    width: 55px;
    height: 55px;
    line-height: 55px;
    top: 0;
    right: 0;
    position: absolute;
    background: #33789C;
    text-align: center;
    color: white;
    font-size: 18px;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .buscar:hover input {
    width: 240px;
  }
  
  .buscar input:focus {
    width: 240px;
  }