body {
    background-color: #30435f;
  }
  
  .contenedor {
    width: 500px;
    margin: 0 auto;
  }
  
  .titulo {
    text-align: center;
    font-size: 2em;
  }
  
  .leyenda {
    text-align: center;
    font-size: 1.5em;
  }
  
  .botones {
    display: flex;
    justify-content: space-between;
  }
  
  .boton {
    width: 150px;
    height: 50px;
    background-color: #FFFFFF;
    border: 1px solid #000000;
    color: #000000;
    font-size: 1.2em;
    cursor: pointer;
  }
  